body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #222;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #e63946;
  }
  